.footer-gh-btn {
  cursor: pointer;
  transition-duration: 0.2s;
}

.footer-gh-btn:hover {
  color: rgb(68, 66, 66);
}

.footer-dev-link {
  text-decoration: none;
  font-weight: 500;
  color: tomato;
}

.footer-dev-link:hover {
  color: #000;
}
